.header {
    background-color: #001829;
    color: #ffffff;
    padding: 8px 0px;
    margin: -8px;
    text-align: center;
    width: 100%;
    z-index: 3;
    position: fixed;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}

.about {
    background-color: #001829;
    color: #ffffff;
    margin: 16px 16px;
    text-align: center;
    z-index: 4;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 4px;
    margin: 0px;
    border-top-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    left: 0px;

}

.background {
    background-image: url("../media/revachol.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0;
    z-index: 1;
}

.content {
    background-color: #001829;
    color: #ffffff;
    padding: 70px 20px 30px 20px;
    margin: 8px auto -8px auto;
    width: auto;
    overflow: auto;
    position: relative;
    z-index: 2;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

p {
    text-align: justify;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

h3 {
    padding: 0;
    margin: 0;
}

hr {
    color: #ffffff;
}

