.header {
    background-color: #001525;
    color: #ffffff;
    position: fixed;
    top: 0px; right: 0px; left: 0px;
    text-align: center;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    padding: 10px 0;
    transition: 0.25s ease;
    z-index: 3;
}

.header:hover {
    background-color: #002030;
    padding: 15px 0;
    font-size: 105%;
}

.about {
    background-color: #001525;
    color: #ffffff;
    position: fixed;
    right: 0px; bottom: 0px; left: 0px;
    text-align: center;
    border-top-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    padding: 10px 0;
    transition: 0.25s ease;
    z-index: 3;
}

.about:hover {
    background-color: #002030;
    padding: 15px 0;
    font-size: 105%;
}

.content {
    background-color: #001525;
    color: #ffffff;
    position: relative;
    width: 800px;
    min-height: 100vh;
    padding: 70px 20px 35px 20px;
    margin: 0 auto;
    transition: 0.25s ease;
    z-index: 2;
    line-height: 25px;
}

.content:hover {
    background-color: #002030;
    padding: 70px 40px 35px 40px;
}

@media screen and (max-width: 889px) {
    .content {
        width: 90%;
    }
}

.background {
    background-image: url("../media/revachol.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: none;
    position: fixed;
    top: 0px; right: 0px; bottom: 0px; left: 0px;
    z-index: 1;
}

a {
    color: #ffffff;
}

a:hover:link {
    color: #99ddff;
}

a:hover:visited {
    color: #dd99ff;
}

p {
    color: #ffffff;
    text-align: justify;
    font-family: "DejaVu Serif", Serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: "DejaVu Serif", Serif;
}