/* resize content based on screen width */

@media screen and (min-width: 1920px) {
    .content {
        width: 800px;
    }
}

@media screen and (max-width: 1920px) {
    .content {
        width: 41.66%
    }
}

@media screen and (max-width: 1728px) {
    .content {
        width: 45.83%;
    }
}

@media screen and (max-width: 1536px) {
    .content {
        width: 50.41%;
    }
}

@media screen and (max-width: 1344px) {
    .content {
        width: 55.45%;
    }
}

@media screen and (max-width: 1152px) {
    .content {
        width: 61.00%;
    }
}

@media screen and (max-width: 960px) {
    .content {
        width: 67.10%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 73.80%;
    }
}

@media screen and (max-width: 576px) {
    .content {
        width: 81.18%;
    }
}

@media screen and (max-width: 384px) {
    .content {
        width: 89.30%;
    }
}

@media screen and (max-width: 384px) {
    .content {
        width: 89.30%;
    }
}


@media screen and (min-height: 1441px) {
    .content {
        min-height: 100vh;
    }
}

@media screen and (max-height: 1440px) {
    .content {
        min-height: 92.5vh;
    }
}

@media screen and (max-height: 1080px) {
    .content {
        min-height: 90.5vh;
    }
}